.table {
    text-align: center;
    background-color: whitesmoke;
    width: 30cm;
    margin: auto;
    border: 2px ridge black;
}

#authors-header {
    color: white;
}

thead {
    background-color: rgb(63, 63, 70);
    font-size: 16px
}

th {
    color: white;
}

td {
    font-size: 14px;
}

#authors-header {
    text-align: center;
}

@media (max-width: 700px) {
    .table {
        width: 7.4cm;
        height: 10cm;
    }
    thead {
        font-size: 10px
    }
    td {
        font-size: 8px;
    }
}