#clear-author {
    text-align: center;
    margin-bottom: 5px;
}

.bi-trash {
    border: 1px  black solid;
    padding: 2px;
}

#authors-counter {
    border: 3px solid black;
    font-weight: 700;
    font-size: 40px;
}

#author-input {
    text-align: center;
    border: 3px solid black;
    font-size: 17px;
}

.btn-danger {
    padding: 2px;
    border-radius: unset;
    border: 2px solid black ;
    margin-left: 2px;
}

.table {
    text-align: center;
    background-color: rgb(175, 175, 175);
    width: 30cm;
    margin: auto;
    border: 2px ridge black;
}

#table-box {
    margin: auto;
    overflow: auto;
    height: 435px;
    width: 30.4cm;
}

#authors-header {
    color: white;
}

thead {
    background-color: rgb(63, 63, 70);
    font-size: 18px
}

th {
    color: white;
}

td {
    font-size: 16px;
}

#authors-header {
    text-align: center;
}

@media (max-width: 700px) {
    .table {
        width: 11.3cm;
        height: 10cm;
        display: inline-flexbox;
    }
    thead {
        font-size: 13px
    }
    td {
        font-size: 12px;
    }
}