header {
    background-color: rgb(0, 0, 176);
    text-align: center;
}

ul, .anchors {
    color: white;
}

#brand {
    float: left;
}

#author {
    float: right;
}

.links {
    text-align: center;
    display: inline;
    margin-left: 10px;
    border-radius: 4px;
}