#card-box {
    margin: auto;
    background-color: #292B2F;
    width: 14cm;
    height: 10cm;
    color: white;
    border-radius: 6px;
    padding: 10px;
}

#username {
    font-size: 24px;
    font-weight: 600;
}

#picture {
    text-align: center;
}

#username-picture {
    border-radius: 50%;
}

#informations {
    background-color: #17181a;
    margin: auto;
    width: 95%;
    border-radius: 5px;
    padding: 10px;
}

.labels {
    font-size: 20px;
}

#aboutme, #contacts {
    font-size: 15px;
}

.profile-links {
    color: white;
    text-decoration: none;
}